body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
  margin-left: 10px; /* Add margin to the left side */
}

nav ul li:first-child {
  margin-left: 0;
}

nav ul li a {
  text-decoration: none;
  color: #333;
}

header h1 {
  margin: 0;
}

footer {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}
